<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Управление складами</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <div class="p-3 mb-2 bg-success text-white" align="center">
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-8">
                    <h1>Отчетная документация склада</h1>
                </div>
                    <div class="col">
                                <div class="btn-group">
                                      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Функции
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'staff' %}">Зарегестрировать сотрудника</a></li>
                                        <li><a class="dropdown-item" href="{% url 'storage' %}">Добавить склад</a></li>
                                        <li><a class="dropdown-item" href="{% url 'machine' %}">Добавить технику</a></li>
                                      </ul>
                                </div>
                    </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>